#header[b-i1aoq39zl2] {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px;
  background-color: #08251A;
}

#footer[b-i1aoq39zl2] {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  border-top: 1px black solid;
  padding: 20px;
  background-color: #08251A;
  color: #F1FFF8;
  margin-top: 100px;
} 
