* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all ease 0.3s;
}

#header {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px;
  background-color: #08251A;
}

#footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  border-top: 1px black solid;
  padding: 20px;
  background-color: #08251A;
  color: #F1FFF8;
  margin-top: 100px;
  border: none;
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1FFF8;
  color: #154333;
}

.bodyAlt {
  background-color: #154333;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #154333;
}

a:visited {
  color: #154333;
}

#logoArea {
  width: 450px;
}

#logo {
  width: 157px;
  height: 70px;
  object-fit: contain;
}

#searchArea {
  max-width: 500px;
  flex: 1;
}

#searchInput {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  background-color: #F1FFF8;
}

#searchInput:focus {
  background-color: #fcfcfc;
}

#userArea {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

#userArea img {
  width: 40px;
  height: 40px;
}

#userArea button {
  border: none;
  background-color: #08251A;
  padding: 5px;
  border-radius: 10px;
}

#userArea button:hover {
  background-color: #0b3324;
  cursor: pointer;
}

#container {
  margin-left: 15%;
  margin-right: 15%;
  flex: 1;
}

#caroussel {
  width: 100%;
  height: 480px;
  background-color: #154333;
  align-content: center;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding: 40px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 100px;
}

#caroussel img {
  aspect-ratio: 16 / 9;
  height: 400px;
  /*width: 712px*/
  object-fit: cover;
}

#carousselImg {
  text-align: center;
  height: 400px;
}

#carousselInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  font-weight: bolder;
}

#carousselInfo:hover {
  cursor: default;
}

#carousselName,
#carousselPrice {
  background-color: #F1FFF8;
  align-content: center;
}

#catalogArea {
  margin-top: 100px;
}

#catalogLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 50px;
}

#card {
  background-color: #154333;
  height: 500px;
  width: 300px;
  display: grid;
  grid-template-rows: 7fr 3fr;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#cardInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #F1FFF8;
  border-radius: 15px;
  place-items: center;
  height: 100%;
}

#cardImg img {
  aspect-ratio: 2 / 3;
  height: 350px;
  /*width: 233px*/
  object-fit: cover;
}

#catalogLine a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.divUser {
  background-color: #0b3324;
  padding: 25px;
  padding-top: 65px;
  padding-bottom: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 75%;
  margin: auto;
}

.divUser h1 {
  color: #F1FFF8;
}

.divIco, .divIco2 {
  width: 65%;
  align-self: center;
  display: flex;
  height: 35px;
}

.divIco2 svg {
  background-color: #297358;
  height: 65px;
  width: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  margin-left: -73px;
  margin-top: -15px;
}

.divIco2 p {
  color: white;
  font-size: 25px;
  margin-top: 3px;
  margin-left: 5px;
}

.divIco svg {
  background-color: white;
  height: 35px;
  width: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}

.divUser input,
#submitBtn {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
  background-color: white;
}

#submitBtn {
  border-radius: 5px;
  width: 65%;
  align-self: center;
}

.divUser input::placeholder,
#submitBtn {
  color: #0b3324;
  border: none;
}


#submitBtn:hover {
  background-color: #F1FFF8;
}

button:hover {
  cursor: pointer;
  background-color: #F1FFF8;
}

.subForm {
  font-size: 15px;
}

.subBtn {
  width: fit-content;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 5px;
  color: #0b3324;
  font-weight: 500;
}

.mainTitle {
  background-color: #0b3324;
  color: white;
  width: 35%;
  margin: auto;
  border-radius: 5px;
  font-size: 25px;
  padding: 12px;
  display: flex;
}

.mainTitle svg {
  width: 35px;
  height: 30px;
}

.altColor {
  background-color: #F9FDFE;
}

.altColor h1 {
  color: #0b3324;
}

.subDiv {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.divAccount {
  background-color: #F9FDFE;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.divUser .img2 {
  aspect-ratio: 4 / 4;
  height: 175px;
  object-fit: cover;
  border-radius: 150px;
  box-shadow: 0px 2px 5px gray;
  padding: 5px;
  margin: 20px;
}

h1 {
  font-size: 25px;
  flex: 1;
}

.divSide {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.divRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}

.divRow div {
  flex: 1;
}

.divUser table {
  background-color: #F9FDFE;
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

th {
  background-color: #DEF5FB;
  outline: 2px solid #DEF5FB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

th,
td,
tr {
  width: 300px;
  padding: 7px;
}

.divUser img {
  aspect-ratio: 16 / 9;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
}

.subtitleAlt {
  font-size: 15px;
}

.altTitle {
  background-color: #0b3324;
  height: fit-content;
  padding: 15px;
  border-radius: 10px;
  justify-items: center;
  width: 100%;
  margin-top: 2.25%;
}

.divButtons {
  background-color: #0b3324;
  width: fit-content;
  margin: auto;
  border: 2px solid #0b3324;
  border-radius: 5px;
  margin-top: 10px;
}

.divButtons button {
  width: 35px;
  background-color: transparent;
  border: none;
  color: white;
}

.divButtons button:hover {
  background-color: #154333;
}

.divButtons svg {
  padding-top: 3px;
}

.spaceAlt {
  margin-top: 2%;
}

.divLibrary {
  display: flex;
  gap: 30px;
}

.profileGame {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.profileGame img {
  aspect-ratio: 2 / 3;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
}

.profileGame p {
  background-color: #F9FDFE;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.divGame {
  width: 100%;
}

.subDivGame {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.rowDivGame {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 35px;
}

.rowDivGame .mainTitle {
  width: 65%;
}

.rowDivGame img {
  aspect-ratio: 16 / 9;
  height: 250px;
  object-fit: cover;
  width: 95%;
  margin: auto;
  box-shadow: 0px 3px 5px black;
}

.rowDivGame p {
  background-color: #F9FDFE;
  padding: 25px;
  border-radius: 10px;
  font-weight: 500;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.rowDivGame button {
  background-color: #F9FDFE;
  border: none;
  border-radius: 10px;
  height: 100%;
}

.rowDivGame button:hover {
  background-color: #DEF5FB;
}

.divWhite {
  background-color: #F9FDFE;
  border-radius: 10px;
}

.divWhite .top {
  background-color: #DEF5FB;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.divWhite h1 {
  color: #2C3F44;
  font-size: 20px;
}

.payment-form {
  background-color: #18513C;
  width: 60%;
  margin: auto;
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
}

.divWhite button:hover {
  background-color: #154333;
}

.divColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-form p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.payment-label {
  background-color: white;
  color: #08251A;
  border-radius: 5px;
}

.payment-form svg {
  width: -1px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.order-summary {
  gap: 15px;
  width: 80%;
  margin: auto;
}

.summary-info {
  background-color: #18513C;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

.summary-flex {
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.summary-info p {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  width: 260px;
}

.summary-info button {
  border: none;
  font-size: 15px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  background-color: transparent;
}

.summary-info button:hover {
  background-color: #DEF5FB;
}