* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1FFF8;
  color: #154333;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #154333;
}

a:visited {
  color: #154333;
}

#logoArea {
  width: 450px;
}

#logo {
  width: 157px;
  height: 70px;
  object-fit: contain;
}

#searchArea {
  max-width: 500px;
  flex: 1;
}

#searchInput {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  background-color: #F1FFF8;
}

#userArea {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

#userArea img {
  width: 40px;
  height: 40px;
}

#userArea button {
  border: none;
  background-color: #08251A;
  padding: 5px;
  border-radius: 10px;
}

#userArea button:hover {
  background-color: #0b3324;
  cursor: pointer;
}

#container {
  margin-left: 15%;
  margin-right: 15%;
}

#caroussel {
  width: 100%;
  height: 480px;
  background-color: #154333;
  align-content: center;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding: 40px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
  margin-top: 30px;
  margin-bottom: 100px;
}

#caroussel img {
  aspect-ratio: 16 / 9;
  height: 400px;
  /*width: 712px*/
  object-fit: cover;
}

#carousselImg {
  text-align: center;
}

#carousselInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;  
  font-weight: bolder;
}

#carousselInfo:hover {
  cursor: default;
}

#carousselName, #carousselPrice {
  background-color: #F1FFF8;
  align-content: center;
}

#catalogArea {
  margin-top: 100px;
}

#catalogLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 50px;
}

#card {
  background-color: #154333;
  height: 500px;
  width: 300px;
  display: grid;
  grid-template-rows: 7fr 3fr;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

#cardInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #F1FFF8;
  border-radius: 15px;
  place-items: center;
  height: 100%;
}

#cardImg {

}

#cardImg img {
  aspect-ratio: 2 / 3;
  height: 350px;
  /*width: 233px*/
  object-fit: cover;
}

#catalogLine a {
  display: block;
  text-decoration: none;
  color: inherit;
}