* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all ease 0.3s;
}

#header {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px;
  background-color: #08251A;
}

#footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  border-top: 1px black solid;
  padding: 20px;
  background-color: #08251A;
  color: #F1FFF8;
  margin-top: 100px;
  border: none;
} 

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1FFF8;
  color: #154333;
}

.bodyAlt {
  background-color: #154333;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #154333;
}

a:visited {
  color: #154333;
}

#logoArea {
  width: 450px;
}

#logo {
  width: 157px;
  height: 70px;
  object-fit: contain;
}

#searchArea {
  max-width: 500px;
  flex: 1;
}

#searchInput {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  background-color: #F1FFF8;
}

#searchInput:focus {
  background-color: #fcfcfc;
}

#userArea {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

#userArea img {
  width: 40px;
  height: 40px;
}

#userArea button {
  border: none;
  background-color: #08251A;
  padding: 5px;
  border-radius: 10px;
}

#userArea button:hover {
  background-color: #0b3324;
  cursor: pointer;
}

#container {
    margin-left: 15%;
    margin-right: 15%;
    flex: 1;
}

#caroussel {
  width: 100%;
  height: 480px;
  background-color: #154333;
  align-content: center;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding: 40px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
  margin-top: 30px;
  margin-bottom: 100px;
}

#caroussel img {
  aspect-ratio: 16 / 9;
  height: 400px;
  /*width: 712px*/
  object-fit: cover;
}

#carousselImg {
  text-align: center;
  height: 400px;
}

#carousselInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;  
  font-weight: bolder;
}

#carousselInfo:hover {
  cursor: default;
}

#carousselName, #carousselPrice {
  background-color: #F1FFF8;
  align-content: center;
}

#catalogArea {
  margin-top: 100px;
}

#catalogLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 50px;
}

#card {
  background-color: #154333;
  height: 500px;
  width: 300px;
  display: grid;
  grid-template-rows: 7fr 3fr;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

#cardInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #F1FFF8;
  border-radius: 15px;
  place-items: center;
  height: 100%;
}

#cardImg img {
  aspect-ratio: 2 / 3;
  height: 350px;
  /*width: 233px*/
  object-fit: cover;
}

#catalogLine a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.divUser {
  background-color: #0b3324;
  padding: 25px;
  padding-top: 65px;
  padding-bottom: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 75%;
  margin: auto;
}

.divUser h1 {
  color: #F1FFF8;
}

.divIco {
  width: 65%;
  align-self: center;
  display: flex;
  height: 35px;
}

.divIco svg {
  background-color: white;
  height: 35px;
  width: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}

.divUser input, #submitBtn {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
  background-color: white;
}

#submitBtn {
  border-radius: 5px;
  width: 65%;
  align-self: center;
}

.divUser input::placeholder, #submitBtn {
  color: #0b3324;
  border: none;
}


#submitBtn:hover{
  background-color: #F1FFF8;
}

button:hover {
  cursor: pointer;
  background-color: #F1FFF8;
}

.subForm {
  font-size: 15px;
}

.subBtn {
  width: fit-content;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 5px;
  color:#0b3324;
  font-weight: 500;
}